<section>
    <div class="container flex">
        <div class="text">
            <h3><strong>Discuss this post</strong></h3>
            <p>Head on over to the Trek View Forum to discuss this post.</p>
            <div class="cta button"><a target="_blank" href="https://campfire.trekview.org/">Join the discussion...</a></div>
        </div>
         <div class="image">
            <img class="img-fluid" src="/assets/images/global/trekview-forum.png" alt="Trek View Forum" title="Trek View Forum" />
        </div>
    </div>
</section>