<h3>The Latest Treks in Your Inbox</h3>

mapthepaths-tours.jpeg

<img class="img-fluid" src="/assets/images/global/mapthepaths-tours.jpeg" alt="Map the Paths Tours" title="Map the Paths Tours" />

<p>Never miss a virtual adventure again!</p>

<p>Each month the Trek View curate our favourite treks on Map the Paths and send them out via email. Create a Map the Paths account today to subscribe to these emails.</p>

<div class="cta button"><a href="https://www.mapthepaths.com/accounts/signup/" target="_blank">SUBSCRIBE NOW</a></div>