<section>
    <div class="container flex">
        <div class="text">
            <h3><strong>Register your interest in this project</strong></h3>
            <p>If you like the sound of what we're building, let me know by adding your email to our supporters list</p>
            <div class="cta button"><a target="_blank" href="https://79e67d4c.sibforms.com/serve/MUIFANNfBEbClvf_drT_FzGBaswxuPNG_cHVgQ5mFZGkLPrk0WrQZZgcpO7X3ePXVJ2FdyPp7WXSOnlcwN2wna3tomLPykRQwh02ibaM3iFgaNzLYZjcJkU7c-H97wrMonHhry-x22GWAcSTW72ap9Hik_ZZRN9_-dFK7a3vppsWctLCcdO0aIxFxhsLbq1C9qdz2e0CPek58gX">Register your interest in the project</a></div>
        </div>
         <div class="image">
            <img class="img-fluid" src="/assets/images/global/trek-view-360-degree-tour.jpg" alt="Trek View" title="Trek View" />
        </div>
    </div>
</section>