<section>
    <div class="container flex">
        <div class="text">
            <h3><strong>We're building a Street View alternative for explorers</strong></h3>
            <p>If you'd like to find out more, you can read about the project here....</p>
            <div class="cta button"><a href="/about">Discover more</a></div>
        </div>
         <div class="image">
            <img class="img-fluid" src="/assets/images/global/trek-view-360-degree-tour.jpg" alt="Trek View" title="Trek View" />
        </div>
    </div>
</section>