---
title: Blog
heading: Blog
description: The latest from the Trek View team.
image: /assets/images/global/trek-view-360-degree-tour.jpg
layout: page
---

<div class="text-container">
	<p align="center"><a href="/blog/category/guides/">Guides</a> | <a href="/blog/category/updates/">Updates</a> | <a href="/blog/category/developers/">Developers</a> | <a href="/blog/category/mapthepaths/">Map the Paths</a> | <a href="/blog/category/expodition/">ExPODition</a></p>
	<p align="center"><div class="button"><a href="/blog/search">Search the blog</a></div></p>
	<ul class="blog-posts">
		{% include list-posts.html posts=paginator.posts %}
	</ul>

	{% if paginator.total_pages > 1 %}
		<!-- Pagination links -->
		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{% include relative-src.html src=paginator.previous_page_path %}" class="previous btn">&larr; Newer posts</a>
			{% endif %}

			<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
				<a href="{% include relative-src.html src=paginator.next_page_path %}" class="next btn">Older posts &rarr;</a>
			{% endif %}
		</div>
	{% endif %}
</div>